<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 应用号 -->
  <add key="AppID" value="720101"/>
  <add key="restfullApi" value="http://m.ctrip.com/restapi/soa2/10101"/>
  <add key="WebresourceBaseUrl" value="http://webresource.c-ctrip.com"/>
  <add key="WebresourcePDBaseUrl" value="/webapp/tuan/dest/GroupH5"/>
  <add key="WebresourcePDDebugUrl" value="http://localhost/webapp/tuan/dest/GroupH5"/>
  <!-- Central Logging配置 -->
  <add key="LoggingServer.V2.IP" value="192.168.82.58"/>
  <add key="LoggingServer.V2.Port" value="63100" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="FxConfigServiceUrl" value="http://ws.config.framework.fws.qa.nt.ctripcorp.com/configws/"/>
  <!--注册表服务地址-->
  <add key="SOA.ServiceRegistry.Url" value="http://ws.soa.fws.qa.nt.ctripcorp.com/registry/api"/>
</appSettings>



