@{
    ViewBag.Title = "BookingSuccess";
}
<script type="text/lizard-config">
{
    "url_schema": ["/bookingsuccess/{orderid}.html", "booking.success!{orderid}", "booking.success!{{(int)orderid}}{x}"],
    "viewName": "bookingsuccess",
    "model": {
        "apis": [],
        "filter": function (datas){
            return datas;
        }
    },
    "view":{
        "header": Lizard.T("J_bookingSuccessHeader"),
        "viewport": Lizard.T("J_bookingSuccessViewer")
    },
    "controller": "@Tuan.ConfigManager.IncludeStaticFile('views/booking.success.js')"
}
</script>
<script type="text/lizard-template" id="J_bookingSuccessHeader">
    <h1>使用优惠券</h1>
</script>
<script type="text/lizard-template" id="J_bookingSuccessViewer"></script>
