@{
    ViewBag.Title = "Detail";
}
<script type="text/lizard-config">
{
    "url_schema": ["hotelmapnav"],
    "viewName": "hotelmapnav",
    "model": {
        "apis": [],
        "filter": function (datas){
            return datas;
        }
    },
    "view":{
        "header": Lizard.T("J_mapNavHeader"),
        "viewport": Lizard.T("J_mapNavHeader")
    },
    "controller": "@Tuan.ConfigManager.IncludeStaticFile('views/hotel.map.nav.js')"
}
</script>
<script type="text/lizard-template" id="J_mapNavHeader">
    <h1>导航页面</h1>
</script>
<script type="text/lizard-template" id="J_mapNavHeader"></script>
