@{
    ViewBag.Title = "HotelComments";
}
<script type="text/lizard-config">
{
    "url_schema": "/hotelcomments",
    "viewName": "hotelcomments",
    "model": {
        "apis": [],
        "filter": function (datas){
            return datas;
        }
    },
    "view":{
        "header": Lizard.T("J_hotelCommentsHeader"),
        "viewport": Lizard.T("J_hotelCommentsViewer")
    },
    "controller": '@Tuan.ConfigManager.IncludeStaticFile("views/hotel.comments.js")'
}
</script>
<script type="text/lizard-template" id="J_hotelCommentsHeader">
    <i class="icon_home i_bef" id="c-ui-header-home"></i>
    <a href="tel:4000086666" class="icon_phone i_bef __hreftel__" id="c-ui-header-tel"></a>
    <h1>酒店点评</h1>
    <i id="c-ui-header-return" class="returnico i_bef"></i>
</script>
<script type="text/lizard-template" id="J_hotelCommentsViewer"></script>