<script type="application/x-javascript">addEventListener('DOMContentLoaded',function(){setTimeout(function(){scrollTo(0,1);},0);},false);</script>
<section id="J_hotelmapWrap"  class="cont_pd_wrap" style="margin: 0px; padding: 0px;">
    <div class="ico_map_return" id="J_return"></div>
    <div style="margin: 0px; padding: 0px;">
        <div class="map-container" id="J_mapContainer"></div>
    </div>
    <div class="ico_map_navigate" id="J_navigator">导航</div>
</section>
<script type="text/template" id="J_centerMarkerTpl">
    <img src="http://pic.c-ctrip.com/h5/tuan/hotel-map-locate2.png" style="width: 14px; height: 36px;">
    <div id="J_label" class="ico_map" style="-webkit-transform: translate(-50%, -90px) !important; left: 50%; max-width:none;"><p title="<%=title%>"><%=title%></p></div>
</script>
