<article class="cont_wrap">
<%
var MAX_WORDS = 100;
var STRIP_TAGS = /\<\/*br\s*\/*\>/img;  //匹配HTML
var imgCount=0;
var imgSrc='http://pic.c-ctrip.com/common/pic_alpha.gif';
//去除HTML
var stripTags = function(str) {
    return str.replace(STRIP_TAGS, '\n').replace(/<[^>]+>/gm, '');
};
//把\n转化成br
var replaceBrTag = function(str) {
    return str.replace(/\n/img, '<br/>');
};
//从字符串指定位置查找第一个非数字、字母的字符的位置
var getNonWordNum = function(str, num) {
    if (str[num] && /[0-9a-zA-Z]/.test(str[num])) {
        return getNonWordNum(str, num + 1);
    } else {
        return num;
    }
};
if (data.images && data.images[0]) {
    imgCount = data.images.length ;
    if (data.images[0].large) imgSrc = data.images[0].large;
}
var project = '', prompt = '', lightspot = '', lashouProject = '', tips = '', lashouTitle = '';
if (data.contents && data.contents.length) {
    for (var n = 0, content, type; n < data.contents.length; n++) {
        content = data.contents[n];
        type = content.type;
        if (type == 1) {
            project = content.memo;
        } else if (type == 2) {
            prompt = content.memo;
        } else if (type == 3) {
            lightspot = content.memo;
        } else if (type == 5) {
            lashouTitle = content.title;
            lashouProject = content.memo;
        } else if (type == 4) {
            tips = content.memo;
        }
    }
}
var category = data.category;
//是否在线订门票
var isOnlineBookingTicket = category ? (category.ctgoryid == 6) && (category.subctgory == 2) : false;
%>
<nav class="tuan_pic" id="J_pic">
    <img src="<%=imgSrc%>"/>
    <div class="total_num">共<%=imgCount%>张</div>
</nav>
<nav class="tuan_name">
    <div class="title"><%=data.name %></div>
    <% if (!isOnlineBookingTicket) {%>
        <%if (lightspot && lightspot.length) {%>
        <p class="tuan_hotel_intro"><%=lightspot%></p>
        <%}%>
        <p class="tuan_hotel_info">
            <span>已售<%=data.cSold %></span>
            <span class="tuan_hotel_time"><%if (data.groupFlag && (parseInt(data.groupFlag) < 48)) {%>剩余48小时<%}else{%>剩余2天以上<%}%></span>
            <span class="tuan_hotel_star"><%=data.star %></span>
        </p>
        <%if(data.additions && data.additions.length>0){%>
        <ul class="tuan_policy dflex" id="J_service">
            <%
            for(var i=0; i<data.additions.length; i++){
            switch(data.additions[i].type){
            case 2:%>
            <li class="ico_return"><%=data.additions[i].txt%></li>
            <%break; case 1:%>
            <li class="ico_refund"><%=data.additions[i].txt%></li>
            <%break; case 3:%>
            <li class="ico_free"><%=data.additions[i].txt%></li>
            <%break;}%>
            <%
            }
            %>
        </ul>
        <%}else{%>
        <ul class="tuan_policy dflex no_tuan_policy">
            <li class="ico_refund">不支持未消费退款</li><li class="ico_return">不支持过期退款</li>
        </ul>
        <%}%>
        <!-- 有效期展示-->
        <%if((data.unavailableDate||data.couponBdate)&&data.type!=2) {%><!--type==2为零元团，不展示有效期-->
        <ul class="subblist">
            <li class="info_valid">
                <%if(data.couponBdate) {%>
                <span class="subb_valid i_bef">有效期：<%=data.couponBdate %>至<%=data.couponEdate%></span>
                <%} %>
                <%if(data.unavailableDate) {%>
                <div class="info_suit_not" style="display:none">不适用日期：<%=data.unavailableDate %></div>
                <div class="align_r"><span class="view_unfold" id="J_expandInvalid">查看不适用日期</span></div>
                <%} %>
            </li>
        </ul>
        <%} %>
    <%}%>
</nav>

<%if (data.hotels && data.hotels.length) {%>
    <div class="neg_mb10">
        <div class="hot_tit">商户信息</div>
    </div>
    <ul class="subblist">
    <%if(data.pcId!=2 && data.score&&(data.score>0)){ %>
        <!--餐饮不显示点评 -->
         <li class="<%if(data.ccount>0){%>arr_r <%}%>comm_qr" <%if(data.ccount>0){%>id="J_comment"<%}%>>
            <!-- 根据实际的分数改变宽度值即可 -->
            <div class="comm_fen"><div class="comm_fen_in" style="width:<%=data.score*100/5%>%;"></div></div>
            <div class="comm_fen_num"><%=data.score.toFixed(1)%></div>
            <span class="icon_txt"><%=data.ccount %>人点评</span>
         </li>
    <% }%>
    <%
    var hotel = data.hotels[0];
    var addr = hotel && hotel.addr;
    var hotelId = hotel && hotel.id;
    var coords = hotel.coords[0];
    var isShowMap=addr&&coords&&coords.lat&&coords.lon&&(coords.lat>-1&&coords.lat<1000)&&(coords.lon>-1&&coords.lon<1000);
    var hotelTel = hotel.phoneList;
    %>
    <% if(addr || (hotelTel && hotelTel.length) || (data.features && data.features.length)){ %>
        <% if(addr){ %>
        <li class="<%if(addr&&isShowMap) {%>arr_r J_showDetailMap<%} %>" data-hotel-name="<%=hotel.shortName || hotel.name%>" data-coords="<%=coords.lon%>,<%=coords.lat%>">
              <span class="subb_address i_bef"><%=(addr?addr:"暂无地址信息") %></span>
              <%if(isShowMap){ %><span class="icon_txt">地图</span><%} %>
        </li>
        <%}%>
    <%if(hotelTel && hotelTel.length){
        var phones = _.map(hotelTel, function(p) {return p.phone;});

    %>
        <li class="arr_r wrap_phone J_phone" data-phone='<%=phones.join(",") %>'>
            <a <%if (phones.length === 1) {%>href="tel:<%=phones[0] %>"<%} else {%>href="javascript:void(0);"<%}%>>
                <span class="subb_phone i_bef">
                <%_.each(phones, function(t) {%>
                    <span><%=t %></span>
                <%}); %>
                </span>
                <i class="icon_txt">预约/咨询</i>
            </a>
        </li>
    <%} %>
    <!-- 特色服务 -->
    <%if(data.features && data.features.length){
        var features = data.features,
            featuresCount = features.length,
            i=0,
            feature,
            featuresClsMap = {
                MFTC: 'ico_parking',
                MFTX: 'ico_slippers',
                MF24XSRS: 'ico_hotwater',
                MFPZS: 'ico_water',
                MFXYYP: 'ico_toiletries',
                MFWIFI: 'ico_wifi_free',
                MFKD: 'ico_net',
                MFZC: 'ico_breakfast'
            };
    %>
    <li class="info_service noactive">
      <%for(; i < featuresCount; i++) {
         feature=features[i];
      %>
          <span><b class="<%=featuresClsMap[feature.code] %>"></b><%=feature.name %></span>
      <%} %>
    </li>
    <%} %>
  <%}%>
  </ul>
<%}%>
    <%if(data.pcId === 1 && hotelId){%>
    <ul class="subblist">
        <li class="arr_r" data-hotel-id="<%=hotelId%>" id="J_gotoHotelDetail">查看更多商户信息</li>
    </ul>
    <%}%>
    <%
    var recommendHotel = data.recommendHotel;
    var hotelData = recommendHotel && recommendHotel.hotel;
    var coords;
    if(hotelData){
        _.each(hotelData.coords, function(item) {
            if (item.type==3) {
              coords = item.lon + ',' + item.lat;
            }
        });
    %>
        <div class="neg_mb10">
            <div class="hot_tit"><%=recommendHotel.title%></div>
        </div>
        <ul class="subblist">
            <li class="arr_r J_showDetailMap" data-hotel-name="<%=hotelData.shortName || hotelData.name%>" data-coords="<%=coords%>">
                <span class="subb_address i_bef"><%=hotelData.addr%></span>
                <i class="icon_txt">地图</i>
            </li>
            <%if(hotelData.phone){%>
            <li class="J_phone" data-phone="<%=hotelData.phone%>">
                <a href="tel:<%=hotelData.phone%>"><span class="subb_phone i_bef"><%=hotelData.phone%></span>
                <i class="icon_txt">预约/咨询</i>
                </a>
            </li>
            <%}%>
        </ul>
    <%}%>
    <%if(data.cGroups>1){%>
    <ul class="subblist">
        <li id="J_branch" class="arr_r">查看全部<%=data.cGroups%>家商户</li>
    </ul>
    <%}%>

    <%if(!lashouProject){%>
    <div class="neg_mb10">
        <div class="hot_tit">团购包含</div>
    </div>
    <nav class="tuan_content">
        <%
            project = stripTags(project);
            var nonWordNum = getNonWordNum(project, MAX_WORDS);
        %>
        <p><%=(replaceBrTag(project.substr(0, nonWordNum)) || "暂无相关信息")%>
            <%if (project.length > nonWordNum) {%>
                <span style="display:none" class="J_tipsHidden"><%=replaceBrTag(project.substr(nonWordNum))%></span>
            <%}%>
        </p>
        <%if (project.length > nonWordNum) {%>
        <p class="tac"><a href="javascript:;" class="view_unfold J_viewMoreBtn" data-state="hide">查看全部</a></p>
        <%}%>
    </nav>
    <%}else{%>
    <ul class="subblist">
        <li id="J_groupContain" class="arr_r"><span><%=lashouTitle || '团购包含'%></span><i class="icon_txt"><a href="###">查看详情</a></i></li>
    </ul>
    <%}%>
    <div class="neg_mb10">
        <div class="hot_tit">特别提示</div>
    </div>
    <nav class="tuan_content" data-id="2">
        <%if(prompt && prompt.length > 0){%>
            <%
                prompt = stripTags(prompt);
                var nonWordNum = getNonWordNum(prompt, MAX_WORDS);
            %>
            <div class="tipsPanel"><%=replaceBrTag(prompt.substr(0, nonWordNum))%>
                <%if (prompt.length > nonWordNum) {%>
                <span style="display:none" class="J_tipsHidden"><%=replaceBrTag(prompt.substr(nonWordNum))%></span>
                <%}%>
            </div>
            <%if (prompt.length > nonWordNum) {%>
            <p class="tac"><a href="javascript:;" class="view_unfold J_viewMoreBtn" data-state="hide">查看全部</a></p>
            <%}%>
        <%}else{%>暂无相关信息<%}%>
    </nav>
    <%if(data.relatedProducts&&data.relatedProducts.length>0) {%>
    <div class="neg_mb10">
          <div class="hot_tit">该商户其他团购</div>
    </div>
    <ul class="tuan_list_other">
      <% var MAX_VISIBLE = 10;//最大显示数量
      _.each(data.relatedProducts,function(data, num){
       %>
      <li <%if(num>=MAX_VISIBLE){%>style="display:none"<%}%> class="J_relatedProducts <%if(num>=MAX_VISIBLE){%>J_relatedRest<%}%> arr_r" data-id="<%=data.id %>">
        <div class="ellipsis"><%=data.name %></div>
        <div class="tuan_price">
          &yen;<%=data.dPrice %>
        </div>
      </li>
      <%}) %>
    </ul>
    <%if(data.relatedProducts&&data.relatedProducts.length>MAX_VISIBLE) {%>
    <p class="tuan_list_more"><a href="javascript:;" id="J_morehotel" class="view_unfold">更多</a></p>
    <%}%>
    <%} %>
    <%if(data.nearGroupsCount>=2 && data.price.dPrice>0){%>
    <div class="mod_group">
        <div class="mod_group_tit">小伙伴们还看了
            <%if(data.nearGroupsCount!=2 && data.nearGroupsCount!=4){ %>
                <span id="J_recommendNearby" >更多</span>
            <%} %>
        </div>
        <div class="mod_group_list">
            <ul>
            <% _.each(data.nearGroups,function(data,num){%>
                <li class="J_nearProducts" data-id="<%=data.id %>">
                    <div class="pic_thumb">
                        <img src="<%=data.imgUrl %>" alt="" width="150" height="112">
                    </div>
                    <div class="hotel_info">
                        <div class="hotel_tit"><%=data.name %></div>
                        <div class="hotel_price">
                            <span class="txt_color01"><dfn>¥</dfn><%=data.price.dPrice %></span>
                            <del class="txt_color02">
                                <dfn>¥</dfn><%=data.price.cPrice %>
                            </del>
                        </div>
                        <div class="ui-distance"><span class="subb_address i_bef"></span>距离该商户<%=data.distance > 1 ? (data.distance.toFixed(1) + '公里') : (Math.round(data.distance * 1000) + '米')%></div>
                    </div>
                </li>
            <%})%>
            </ul>
        </div>
    </div>
    <%}%>
    <%if(tips&&tips.length>0){%>
        <a class="linktips J_tips" style="margin-bottom:0" href="javascript:;" data-id="4">点击马上团代表您已阅读并同意<span>携程团购温馨提示</span></a>
    <%}%>
    <div style="height:45px;"></div>
    <ul class="btm_price">
        <li class="item01"><del>&yen;<%=data.price.cPrice %></del></li>
        <li class="item02">
            <%if(data.activities && data.activities[0]){
                var type = data.activities[0].type;
            %>
            <%if(type==2) {%>
            <span class="ico-text">返<i>¥</i><%=data.activities[0].arg%></span><!--返现-->
            <%}%>
            <%if(type==3) {%>
            <span class="ico-text">礼<i>&yen;</i><%=data.activities[0].arg%></span><!--礼品卡-->
            <%}%>
            <%}%>
            &yen;<%=data.price.dPrice %><!--原价-->
        </li>
        <li class="btm_tuan_btn" id="J_submit">马上团</li>
    </ul>
</article>
