<section class="cont_wrap">
  <img src="http://pic.c-ctrip.com/h5/tuan//service.jpg" alt="" width="100%" class="service_img" />
  <section class="service_box">
    <div class="service_title ico_refund">未消费随时退</div>
    <dl class="service_con">
      <dt>退款流程</dt>
      <dd>团购成功但未消费此券  →  登录"我的携程"  →  在"团购订单"中"申请退款"  →  审核通过后退款至支付账户</dd>
      <dt>退款时间</dt>
      <dd>客人提出退款申请后，携程工作人员将在3个工作日内进行审核；审核通过后，携程将为您进行退款。退款申请将在2个工作日内提交至银行，各银行会根据其业务流程，在2-5个工作日内退款至您的支付账户。请您注意查收（此服务不收取任何手续费）。</dd>
      <dt>以下情况不适用</dt>
      <dd>1. 已消费的携程团购券<span class="service_txt_hl">（包括：在线预约成功的，电话预约成功的，已经使用或入住的）</span></dd>
      <dd>2. 在产品说明中明确标明不支持"未消费，随时退"的产品或服务</dd>
    </dl>
  </section>
  <section class="service_box">
    <div class="service_title ico_return">券过期未消费，无条件返还</div>
    <dl class="service_con">
      <dt>退款流程</dt>
      <dd>团购券过期且未消费此券  →  登录"我的携程"  →  在"团购订单"中"申请退款"  →  审核通过后退款至支付账户</dd>
      <dt>退款时间</dt>
      <dd>客人提出退款申请后，携程工作人员将48小时内进行审核；审核通过后，携程将为您进行退款。退款申请将在2个工作日内提交至银行，各银行会根据其业务流程，在2-5个工作日内退款至您的支付账户。请您注意查收（此服务不收取任何手续费）。</dd>
      <dt>以下情况不适用</dt>
      <dd>1. 已消费的携程团购券<span class="service_txt_hl">（包括：在线预约成功的，电话预约成功的，已经使用或入住的）</span></dd>
      <dd>2. 在产品说明中明确标明不支持"券过期未消费，无条件退款"的产品或服务</dd>
    </dl>
  </section>
  <section class="service_box">
    <div class="service_title ico_free">消费不满意，携程来免单</div>
    <dl class="service_con">
      <dt>退款流程</dt>
      <dd>商家未兑现服务承诺  →  立刻联系携程客服10106666  →  经携程客服核实确认后  →  给予立即退款</dd>
      <dt>保障适用范围</dt>
      <dd>1. 商家提供给携程会员的产品或服务与其承诺的产品或服务内容严重不符</dd>
      <dd>2. 商家提供的产品出现严重质量问题，或有违反《中华人民共和国消费者权益保护法》，《中华人民共和国产品质量法》的情况</dd>
    </dl>
  </section>
  <section class="service_box">
    <div class="service_title ico_comments">全场点评信息，客观真实不造假</div>
    <dl class="service_con">
      <dd>全场所呈现的所有产品点评均出自真实消费者的入住亲身体验，100%真实有效，我们不做任何优化排序、造假或者篡改，保留所有好评及差评，为您的选择提供可靠参考！</dd>
    </dl>
  </section>
</section>
