<section class="cont_wrap">
    <ul class="invoice_cont">
        <li>需要发票<input type="checkbox" id="J_needInvoice" class="dn" /><label class="btn_switch"></label></li>
    </ul>
    <ul class="invoice_cont" id="J_invoiceWrap">
        <li>发票抬头<span class="tips_txt01"><input id="J_invoiceTitle" type="text" placeholder="请输入发票抬头" /></span></li>
        <li>收件人<span class="tips_txt02"><input id="J_recipient" type="text" placeholder="个人姓名或公司名称" /></span></li>
        <li class="arr_r" id="J_region" data-region-index="2,2,2">所在地区<span class="tips_txt01" id="J_regionText"></span></li>
        <li>收件地址<span class="tips_txt02"><input id="J_addr" type="text" placeholder="请输入收件地址" /></span></li>
        <li>邮编<span class="tips_txt02"><input id="J_zip" type="text" /></span></li>
        <li class="arr_r" id="J_delivery" data-delivery-method="0">配送方式<span id="J_deliveryText" class="tips_txt01">平信(免费)</span></li>
    </ul>
    <p class="tips_attention" id="J_deliveryTips">发票在您的团购券使用后10个工作日内以平信方式送达。</p>
</section>
