<section id="J_listmapWrap"  class="cont_pd_wrap" style="margin: 0px; padding: 0px;">
    <div style="margin: 0px; padding: 0px;">
        <div id="J_map"></div>
    </div>
    <ul class="map_type" id="J_category">
        <li class="all" data-type="0" data-category='all' data-name="全部团购">全部团购</li>
        <li class="hotel" data-type="1" data-category='hotel' data-name="酒店">酒店</li>
        <li class="dining" data-type="8" data-category='catering' data-name="美食">美食</li>
        <li class="vacation" data-type="7" data-category='vacation' data-name="旅游度假">旅游度假</li>
        <li class="ticket" data-type="6" data-category='ticket' data-name="门票">门票</li>
        <li class="recreation" data-type="9" data-category='entertainment' data-name="娱乐">娱乐</li>
    </ul>
    <div class="ico_map_return" id="J_return"></div>
    <div class="map_tips01" id="J_infoWrap" style="position:fixed;left:65px;top:10px;">查询：1公里内，共29家商户，展示前10家</div>
    <div class="map_btn_search" id="J_btnSearch">查询屏幕范围内的团购</div>
</section>
<script type="text/template" id="J_markerTpl">
    <%
        var MARKERS_CLS = {
            1: 'landmarks_hotel',
            8: 'landmarks_dining',
            7: 'landmarks_vacation',
            6: 'landmarks_ticket',
            9: 'landmarks_recreation'
        };
    %>
    <!--点状-->
    <div class="J_dotMarker" data-pid="<%=obj.id%>" style="width:21px; height:31px;">
        <div class="ico_map2 J_detailMarker" style="display:none; -webkit-transform:translate(-50%, 0%)">
            <p><%=obj.shortName||obj.name%></p>
            <p><dfn>¥</dfn><%=obj.price%></p>
        </div>
        <div class="<%=MARKERS_CLS[obj.ctype] || MARKERS_CLS[1]%> J_simpleMarker"></div>
    </div>
    <!--气泡-->
    <div class="J_popMarker" data-pid="<%=obj.id%>" style="width:21px; height:31px;display:none">
        <div class="ico_map" style="background-color:#fff;-webkit-transform:translate(-41%, -20px)">
            <p class="ui-title"><%=obj.shortName||obj.name%></p>
            <p class="ui-price"><dfn>¥</dfn><%=obj.price%></p>
        </div>
    </div>
</script>
<script type="text/template" id="J_centerMarkerTpl">
    <img class="fx-drop" src="http://pic.c-ctrip.com/h5/tuan/hotel-map-locate2.png" style="width:14px;height:36px;">
    <div class="ico_map2 J_centerMarkerTip" style="-webkit-transform:translate(-50%,-45px) !important;left:50%;max-width:none;display:none;"><p><%=obj.name%></p></div>
</script>
