<article  class="cont_wrap">
    <div class="tuan_title">团购信息</div>
    <ul class="apply_refund">
        <li class="J_needHideInTicket"><span id="J_productName"></span>
            <p class="color_gray">您有<strong id="J_iscCount">0</strong>张可退的团购券，请选择要退回的数量</p>
        </li>
        <li class="J_needHideInTicket">退回数量
            <div class="btn_fine_tuning">
                <!-- 不可用状态num_invalid -->
                <i id="J_minus" class="minus num_invalid"></i><span id="J_refundCount" class="numtext">1</span><i id="J_plus" class="plus"></i>
            </div>
        </li>
        <li>退款金额&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="total_order_price" id="J_refundAmount">0</span>
        </li>
        <li style="display:none" id="J_refundInvoiceWrap">退回快递费&nbsp;&nbsp;
            <span class="total_order_price" id="J_refundInvoiceAmount">0</span>
        </li>
        <li style="display:none" id="J_refundCouponWrap">退回优惠券&nbsp;&nbsp;
            <span class="total_order_price" id="J_refundCouponAmount">0</span>
        </li>
    </ul>
    <div class="tuan_title">退款方式</div>
    <ul class="apply_refund choose_list">
        <li class="choosed">原路退回
            <p class="color_gray">款项将在3-10个工作日内退回您的支付帐户</p>
        </li>
    </ul>
    <div class="tuan_title">退款原因</div>
    <ul class="apply_refund choose_list apply_refund_reason">
        <li>预订未成功，无法使用</li>
        <li>行程有变，无法使用</li>
        <li>买多了/买错了</li>
        <li>酒店条件或服务差</li>
        <li>其他</li>
    </ul>
    <div class="mg10 reason_other_text" style="display:none">
        <textarea class="in_reason_other" placeholder="请输入其他退款原因。"></textarea>
    </div>
    <div class="mg10">
        <input type="button" class="btn_blue" value="确认退款">
    </div>
</article>
