<%if(typeof hotels != 'undefined' && hotels && hotels.length > 0 && count > 0) {%>
<%var n = 0;
    _.each(hotels, function(hotel) {%>
<section class="list_title">
    <h2><%=hotel.name%></h2>
    <%if(+ctype!==7){%><span class="list_distance"><%=hotel.distance > 1 ? (hotel.distance.toFixed(1) + '公里') : (Math.round(hotel.distance * 1000) + '米')%></span><%}%>
</section>
<ul class="pro_list pro_list2">
    <%var len = hotel.products && hotel.products.length;
    _.each(hotel.products, function(product, index) {
        var labelsNum = product.labels && product.labels.length;
    %>
        <li<%if(index>1){%> style="display: none" <%}%> data-id="<%=product.id%>" data-len="<%=len%>" data-count="<%=count%>">

            <div class="pro_list_imgbox">
                <img data-img="<%=n++ %>" onerror="javascript:noPic(this);" data-lazy="<%=product.imgUrl?product.imgUrl:'http://pic.c-ctrip.com/common/pic_alpha.gif' %>" src="http://pic.c-ctrip.com/common/pic_alpha.gif" width="70" height="70" alt="<%=product.name%>" />
            </div>
            <div class="pro_list_info">
                <h4 class="pro_list_tit"><%=product.name%></h4>
                <p class="pro_list_price">¥<i><%=product.price.dPrice%></i></p>
                <p class="wrap_label">
                    <%if(labelsNum <= 2){%>
                        <%_.each(product.labels || [], function(o) {%>
                            <span class="onsale_label02"><%=o.labelTxt%></span>
                        <%}); %>
                    <%} else {%>
                        <span class="onsale_label02"><%=product.labels[0].labelTxt%></span>
                        <span class="onsale_label03">更多优惠+</span>
                    <%}%>
                </p>
                <p class="pro_list_ext">
                    <span class="pro_list_oldprice"><del>¥<%=product.price.cPrice%></del></span>
                    <%if(+product.cSold>0){%><span class="pro_list_sold">已售<%=product.cSold %></span><%}%>
                    <%if(+product.score>0 && ctype!==7){%><span class="split">|</span><span class="pro_list_rank"><i><%=product.score %></i>分</span><%}%>
                </p>
            </div>
        </li>
    <%})%>
    <%if (len>2) {%>
        <li class="more view_unfold J_showMore">查看其他<%=len-2%>条团购<span></span></li>
    <%}%>
</ul>
<%})%>
<%}else{
    if(typeof msg != 'undefined' &&  msg || (msg='未知错误')){%>
    <div class="sec-noresult">
        <div class="ui-result-no">
            <span class="ico-search"></span>
            <span class="ui-info"><%=msg %></span>
        </div>
        <ul class="ui-result-tar" id="J_deleteFilter">
            <%_.each(customFilter, function(item, key) {%>
                <%if(key=='star'){%>
                    <%_.each(item, function(v, i) {%>
                    <li data-type="<%=key%>" data-value="<%=i%>"><%=v%></li>
                    <%})%>
                <%}else if(key=='multiShop'){%>
                    <li data-type="multiShop">多店可用</li>
                <%}else if(key=='voucher'){%>
                    <li data-type="voucher">代金券</li>
                <%}else{%>
                    <li data-type="<%=key%>" data-value="<%=item.val%>"><%=item.txt%></li>
                <%}%>
            <%})%>
            <%if (positionFilter.name) {%>
                <%if (positionFilter.type != -6) {%>
                    <li data-type="position"><%=positionFilter.name%></li>
                <%}else{%>
                    <li data-type="position"><%=positionFilter.pos.distance%>公里</li>
                <%}%>
            <%}%>
            <%if (weekendsAvailable) {%><li data-type="weekendsAvailable">周末可用</li><%}%>
            <%if (keywordData && keywordData.word) {%><li data-type="keyword"><%=keywordData.word%></li><%}%>
        </ul>
        <div class="ui-tips">
            <p>或者拨打携程客服电话</p>
            <a href="tel:4000086666" data-phone="4000086666" class="btn-telephone J_phone">联系客服</a>
        </div>
    </div>
    <%}%>
<%}%>
