<%if(typeof hotels != 'undefined' && hotels && hotels.length > 0 && count > 0) {%>
<%var n = 0;
    _.each(hotels, function(hotel) {%>
<section class="list_title">
    <h2><%if(hotel.headDesc){%>[<span class="ui-landmark"><%=hotel.headDesc%></span>]<%}%><%=hotel.name%></h2>
    <p class="list_title_info"><span class="list_distance"><%=hotel.distance > 1 ? (hotel.distance.toFixed(1) + '公里') : (Math.round(hotel.distance * 1000) + '米')%></span></p>
</section>
<ul class="pro_list2">
    <%var len = hotel.products && hotel.products.length;
        _.each(hotel.products, function(product, index) {%>
    <li<%if(index>1){%> style="display: none" <%}%> data-id="<%=product.id%>" data-len="<%=len%>" data-count="<%=count%>">
            <div class="pro_thumb">
                <img data-img="<%=n++ %>" onerror="javascript:noPic(this);" data-lazy="<%=product.imgUrl?product.imgUrl:'http://pic.c-ctrip.com/common/pic_alpha.gif' %>" src="http://pic.c-ctrip.com/common/pic_alpha.gif" width="96" height="96" alt="<%=product.name%>" />
            </div>
            <h2><%=product.name%><% if(product.hotdescription){ %>，<%=product.hotdescription %><% } %></h2>
            <p class="sold_out_num">已售<%=product.cSold%></p>
            <%if(product.labelTxt){ %>
            <div class="pro_list_txt">
                <span class="onsale_label02"><%=product.labelTxt%></span>
            </div>
            <%}%>
            <p class="pro_list_price">
                <span class="pro_list_oldprice"><del>¥<%=product.price.cPrice%></del></span>
                ¥<i><%=product.price.dPrice%></i>
            </p>
        </li>
        <%})%>
        <%if (len>2) {%>
        <li class="more J_showMore">展开全部<%=len%>条团购<span></span></li>
        <%}%>
</ul>
<%})%>
<%}else{
    if(typeof msg != 'undefined' &&  msg || (msg='未知错误')){%>
    <div class="sec-noresult">
        <div class="ui-result-no">
            <span class="ico-search"></span>
            <span class="ui-info"><%=msg %></span>
        </div>
        <ul class="ui-result-tar" id="J_deleteFilter">
            <%_.each(customFilter, function(item, key) {%>
                <%if(key=='star'){%>
                    <%_.each(item, function(v, i) {%>
                    <li data-type="<%=key%>" data-value="<%=i%>"><%=v%></li>
                    <%})%>
                <%}else if(key=='multiShop'){%>
                    <li data-type="multiShop">多店可用</li>
                <%}else if(key=='voucher'){%>
                    <li data-type="voucher">代金券</li>
                <%}else{%>
                    <li data-type="<%=key%>" data-value="<%=item.val%>"><%=item.txt%></li>
                <%}%>
            <%})%>
            <%if (positionFilter.name) {%>
                <%if (positionFilter.type != -6) {%>
                    <li data-type="position"><%=positionFilter.name%></li>
                <%}else{%>
                    <li data-type="position"><%=positionFilter.pos.distance%>公里</li>
                <%}%>
            <%}%>
            <%if (weekendsAvailable) {%><li data-type="weekendsAvailable">周末可用</li><%}%>
            <%if (keywordData && keywordData.word) {%><li data-type="keyword"><%=keywordData.word%></li><%}%>
        </ul>
        <div class="ui-tips">
            <p>或者拨打携程客服电话</p>
            <a href="tel:4000086666" data-phone="4000086666" class="btn-telephone J_phone">联系客服</a>
        </div>
    </div>
    <%}%>
<%}%>
