<section class="cont_wrap">
<ul class="pro_list pro_list5">
    <%if(typeof products!='undefined' && products && products.length>0) {%>
    <%
    for(var i = 0, len = products.length; i < len; i++){
        var p = products[i];
        var labelsNum = p.labels && p.labels.length;
    %>
    <li data-id="<%=p.id %>" data-len="<%=products.length %>">
        <div class="pro_list_imgbox">
            <img data-img="<%=i %>" onerror="javascript:noPic(this);" data-lazy="<%=p.imgUrl?p.imgUrl:'http://pic.c-ctrip.com/common/pic_alpha.gif' %>" width="70" height="70" src="http://pic.c-ctrip.com/common/pic_alpha.gif" />
            <!--<span class="pro_list_label">免预约</span>-->
        </div>
        <div class="pro_list_info">
            <h4 class="pro_list_tit"><%=p.name%></h4>
            <p class="pro_list_subtit"><%=p.descriptionhead ? '[' + p.descriptionhead + ']' : ''%><%=p.hotdescription || ''%></p>
            <%if(p.distance>0 && ctype!==7){%>
            <p class="pro_list_dist subb_address i_bef">距离该商户
                <%if(p.distance>=1){%>
                    <%=p.distance.toFixed(1)+'公里'%>
                <%}else{%>
                    <%=p.distance*1000+'米'%>
                <%}%>
            </p>
            <%}%>
            <p class="pro_list_price">&yen;<i><%=p.price.dPrice%></i></p>
            <p class="wrap_label">
                <%if(labelsNum <= 2){%>
                    <%_.each(p.labels || [], function(o) {%>
                        <span class="onsale_label02"><%=o.labelTxt%></span>
                    <%}); %>
                <%} else {%>
                    <span class="onsale_label02"><%=p.labels[0].labelTxt%></span>
                    <span class="onsale_label03">更多优惠+</span>
                <%}%>
            </p>
        </div>
    </li>
    <%}%>
    <%}%>
</ul>
</section>
